.text-red {
  color: #E16767;
}

.text-white {
  color: white;
}

.text-gold {
  color: #B39556;
}

.h-100vh {
  height: 100vh;
}

.w-100vw {
  width: 100vw;
}

.shadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-lg {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 2rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 2rem !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 2rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

body {
  padding: 0px;
  margin: 0px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #252027;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

nav a {
  color: #B39556;
  margin: 1rem 0;
  cursor: pointer;
}

nav .nav-links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .nav-button {
  color: #B39556;
  font-size: 3rem;
  cursor: pointer;
}

nav .logo-sm {
  display: none;
}

@media only screen and (min-width: 850px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .nav-button {
    display: none;
  }
  nav .logo-sm {
    display: block;
  }
  nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
  }
}

input, textarea {
  background: none;
  border: none;
  border-bottom: 3px solid;
  font-size: 1rem;
}

.index_img {
  display: none;
}

@media only screen and (min-width: 850px) {
  .index_img {
    display: block;
    width: 75%;
    height: 100vh;
    background-image: url("../../images/index_img.jpg");
    background-position: center;
    background-size: cover;
  }
}

.container-full {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.index-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #211626;
  width: 25%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 850px) {
  .index-options {
    width: 100vw;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pill-button-red {
  background-color: #E16767;
  border-radius: 60px;
  padding: 0px 50px;
  margin: 10px 0px;
  text-align: center;
  display: inline-block;
  width: 100px;
  text-decoration: none;
}

.pill-button-gold {
  background-color: #B39556;
  border-radius: 60px;
  padding: 0px 50px;
  margin: 10px 0px;
  text-align: center;
  display: inline-block;
  width: 100px;
  text-decoration: none;
}

.logo-lg {
  width: 200px;
  height: 200px;
}

.logo-xsm {
  width: 20px;
  height: 20px;
}

.logo-sm {
  width: 40px;
  height: 40px;
}

.game-modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url("../../images/background.jpg");
  background-position: right bottom;
  background-size: cover;
}

.game-modes .pill-button-red {
  background-color: #E16767;
  color: white;
}

@media only screen and (min-width: 850px) {
  .game-modes {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #252027;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.main-nav a {
  color: #B39556;
  margin: 1rem 0;
  cursor: pointer;
}

.main-nav .nav-links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-nav a:hover {
  color: white;
}

.main-nav .nav-button {
  color: #B39556;
  font-size: 3rem;
  cursor: pointer;
}

.main-nav .logo-sm {
  display: none;
}

@media only screen and (min-width: 850px) {
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-nav .nav-button {
    display: none;
  }
  .main-nav .logo-sm {
    display: block;
  }
  .main-nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-nav a {
    margin: 0 1rem;
  }
}

.gameboard {
  background-image: url("../../images/background.jpg");
  background-position: right bottom;
  background-size: cover;
  height: 100%;
  width: 100vw;
}

.gameboard .health {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameboard .health .hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gameboard .health .hearts .heart {
  margin: 0.25rem;
  background: url("../../images/heart.png");
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
}

.gameboard .phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.gameboard .phrase .letter {
  margin: 0 1rem;
  color: #707070;
  -webkit-box-shadow: 0 0.5rem 2rem -2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 2rem -2rem rgba(0, 0, 0, 0.15);
}

.gameboard .phrase .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0px;
}

.gameboard .playerInput {
  width: 50%;
}

@media only screen and (min-width: 850px) {
  .gameboard .phrase {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85%;
  }
  .gameboard .phrase .word {
    margin: 0px 2rem;
  }
}
/*# sourceMappingURL=main.css.map */