$base-color: #211626;

$red-color: #E16767;

$black-color: #252027;

$grey-color: #707070;

$gold-color: #B39556;


.text-red {
    color: $red-color;
}

.text-white {
    color: white;
}

.text-gold {
    color: $gold-color;
}