.h-100vh {
height: 100vh;
}

.w-100vw {
    width: 100vw;
}

$shadow-none: none !important;

$shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075);

$shadow : 0 .5rem 1rem rgba(0,0,0,.15);

$shadow-lg: 0 1rem 3rem rgba(0,0,0,.175);

$shadow-bottom: 0 .5rem 2rem -2rem rgba(0,0,0,.15);

$margin1: 0.25rem;

$margin2: 0.5rem;

$margin3: 1rem;

$margin4: 1.5rem;

$margin5: 2rem;


